@import "../../../styles/variables";
@import "../../../styles/mixin";

.container {
  @include border_box;
  padding: 1rem 2rem;
  width: 70%;
  margin: 4rem auto  1rem auto;
  color: $dark_text;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    text-align: right;
    span {
      color: $light_text;
      padding-right: 0.5rem;
    }
    li p {
      margin: 0.5rem;
    }
  }
  h3 {
    text-align: right;
    color: $green;
    margin: 0 0 1rem 0;
    font-weight: 500;
  }
  a {
    color: #19bfd3;
    margin: 0.5rem;
    @include center;
    &::before {
      font-family: "FontAwesome";
      content: "\f104";
      margin: 0 5px;
    }
  }
}

.add_adress{
    font-size: 1rem;
   text-align: center;
   font-weight: 500;
   color: $green;
   @include center;
   &::before {
    font-family: "FontAwesome";
    content: "\f067";
    margin: 0 5px;
  }
}

@media (max-width: 768px) {
    .container {
     width: 86%;
    }
   
  }