/* colors variables */

$green: #6b8c55;
$light_green: #ecf2e6;
$dark_text: #42474b;
$gray: rgb(234, 237, 242);
$pink: rgb(247, 237, 238);
$product_bg: rgb(243, 243, 243);
$footer_bg: #f3f3f3;
$light_text: #797979;

:export {
  green: $green;
  light_green: $light_green;
  dark_text: $dark_text;
  gray: $gray;
  pink: $pink;
  product_bg: $product_bg;
  footer_bg: $footer_bg;
  light_text: $light_text;
}
