@import "variables";
@import "mixin";


.container {
  display: flex;
  align-items: center;
  width: 60vw;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  border-top: 1px solid rgba(205, 207, 211,.5) ;
}

