@import "variables";
@import "mixin";

//home container
.container {
  margin-top: 6vh;
  width: 100vw;
  display: grid;
  padding: 0 4vw;
  grid-template-columns: 1fr 5fr 7fr 1fr;
  grid-template-rows: 70vh;
}

//green section container
.green_section {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: $light_green !important;
  position: relative;
}
.green_section div {
  position: absolute;
  top: 10%;
  left: 60%;
  width: 80%;
  height: 80%;
}

//main section library
.container main {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: $dark_text;
  padding: 1rem 1rem 1rem 3rem;
}
.container main span {
  color: $green;
}
.container main h1 {
  text-align: right;
  font-size: 1.8rem;
}
.container main p {
  text-align: right;
  padding-left: 3rem;
}

//create space
.container main span::after {
  content: " ";
}


//responsive for tablet
@media (max-width: 926px) and (min-width: 768px) {
  .container {
    grid-template-rows: 55vh;
  }
}

//responsive for mobile
@media (max-width: 768px) {
  .container {
    padding: 0;
    margin-top: 8vh;
    grid-template-columns: auto;
    grid-template-rows: 30vh 50vh;
  }
  .green_section {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .green_section div {
    position: absolute;
    top: 20%;
    left: 0;
    width: 45%;
    height: 45%;
  }
  .container main {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
