@import "variables";
@import "mixin";

//header container
.header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  padding: 0 4vw;
  background-color: #fff;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 5fr 7fr 1fr;
  grid-template-rows: 12vh;
  @include boxSadow;
}

//card container
.card_container {
  @include center;
}
.card_container div {
  background-color: $green;
  position: relative;
  padding: 8px;
  border-radius: 50%;
  @include center;
  p {
    position: absolute;
    left: -0.6rem;
    bottom: 0.6rem;
    font-size: 0.7rem;
    color: white;
    width: 1.2rem;
    height: 1.2rem;
    @include center;
    border-radius: 50%;
    background-color: $dark_text;
  }
}

//nav left
.nav_left {
  display: flex;
  align-items: center;
  padding-right: 10px;
  background-color: $light_green;
  justify-content: flex-end;
}
.account {
  @include link_style;
  margin-left: 10px;
}

//search box
.input {
  direction: rtl;
  @include input(1rem);
}
.icon_inside {
  position: relative;
}
.icon_inside svg {
  position: absolute;
  left: 0;
  top: 10px;
}
//end of nav left

//nav_right
.nav_right {
  @include center;
}
.nav_right a {
  padding: 0 1rem;
  @include link_style;
}

//logo container
.logo_container {
  @include center;
}

//responsive in tablet size
@media (max-width: 926px) and (min-width: 768px) {
  .header {
    grid-template-rows: max-content;
  }
  .nav_left {
    padding: 10px 10px 10px 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

//responsive in mobile size
@media (max-width: 768px) {
  .header {
    grid-template-rows: 8vh;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0;
  }
  .nav_left {
    justify-content: center;
    align-items: center;
  }
  .logo {
    display: none;
  }
  .hamburger_icon {
    display: flex;
  }
  .nav_right,
  .account {
    display: none;
  }
  .input {
    @include input(1rem);
  }
}
