@import "variables";
@import "mixin";

//all products container
.products_container {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 2rem;
  grid-template-columns: auto auto auto auto;
  padding: 4vw 10vw;
}

//one product style
.product_container {
  font-size: 30px;
  text-align: center;
  padding-bottom: 4rem;
  &:hover {
    border: 1px solid #afafaf;

  }
}

.image_container {
  background-color: $product_bg;
  @include center;
  padding: 3rem 2rem;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  h1 {
    font-size: 0.9rem;
    color: $dark_text;
  }
  p {
    font-size: 0.9rem;
    color: $green;
  }
}

//responsive all products in mobile size
@media (max-width: 768px) {
  .products_container {
    grid-template-columns: auto auto;
  }
}

//responsive in tablet size
@media (max-width: 926px) and (min-width: 768px) {
  .products_container {
    grid-template-columns: auto auto auto;
  }
}
