@import "../../../styles/variables";
@import "../../../styles/mixin";

.full_container {
  @include center;
  min-height: 100vh;
}
.container {
  @include border_box;
  width: 70%;
  padding-bottom: 2rem;
  h3 {
    width: 90%;
    text-align: right;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: $dark_text;
    span{
      color: $red;
    }
  }
}
.form_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.title {
  color: $green;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.inputs_container {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;
  direction: rtl;
  padding-bottom: 0.5rem;
}

//responsive all products in mobile size
@media (max-width: 768px) {
  .container {
    width: 86%;
    border: none;
  }
  .inputs_container {
    grid-template-columns: auto;
  }
}

//responsive in tablet size
@media (max-width: 1000px) and (min-width: 768px) {
  .container {
    width: 86%;
  }
}
