@import "../../../styles/variables";
@import "../../../styles/mixin";

.container {
  @include center;
  flex-direction: column;
  color: $dark_text;
  margin: 10vh 0 4vh 0;
  padding-bottom: 6vh;
}

.about_payment {
  font-size: 1rem;
  text-align: right;
  width: 70%;
  margin: 2rem 0;
}
.rules_div {
  p {
    display: inline;
  }
  span {
    color: #19bfd3;
  }
}

@media (max-width: 768px) {
  .about_payment {
    width: 86%;
  }
}
