@import "variables";
@import "mixin";

.container {
  margin-top: 12vh;
  width: 100vw;
  display: grid;
  padding: 0 4vw;
  grid-template-columns: 1fr 5fr 7fr 1fr;
  grid-template-rows: 70vh;
}

.green_section {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: $light_green !important;
  position: relative;
}
.green_section div {
  position: absolute;
  left: 60%;
  width: 80%;
  height: 80%;
}

.container main {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: $dark_text;
  padding: 0 1rem 0 3rem;
}
.container main span {
  color: $green;
}
.container main h1 {
  text-align: right;
  font-size: 1.8rem;
  // @include opacity_animation(1s, 0.5s);
}

.container main p {
  text-align: right;
  padding-left: 3rem;
  // @include opacity_animation(2s, 0.5s);
}

.container main span::after {
  content: " ";
}

.button {
  @include button;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: "main" "green_section";
  }
}
