@import "variables";
@import "mixin";

//header container
.header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  padding: 0 4vw;
  background-color: #fff;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 5fr 7fr 1fr;
  grid-template-rows: 12vh;
  @include boxSadow;
}

.card_container {
  @include center;
}
.card_container div {
  background-color: $green;
  padding: 8px;
  border-radius: 50%;
  @include center;
}

//nav left
.nav_left {
  display: flex;
  align-items: center;
  padding-right: 10px;
  background-color: $light_green;
  justify-content: flex-end;
}
.nav_left select {
  border: none;
  outline: none;
  padding-right: 5px;
  background-color: transparent;
  text-align: right;
  color: white;
  @include link_style;
  option {
    background-color: white;
    color: $dark_text;
    padding: 0 2px;
    &:hover {
      background-color: $green;
      color: white;
      box-shadow: none;
    }
  }
}

//search box
.input {
  direction: rtl;
  @include input(1rem);
}
.icon_inside {
  position: relative;
}
.icon_inside svg {
  position: absolute;
  left: 0;
  top: 10px;
}
//end of nav left

//nav_right
.nav_right {
  @include center;
}
.nav_right a {
  padding: 0 1rem;
  @include link_style;
}

//logo container
.logo_container {
  @include center;
}
.hamburger_icon {
  display: none;
}

@media (max-width: 926px) and (min-width: 768px) {
  .header {
    grid-template-rows: max-content;
  }
  .nav_left {
    padding: 10px 10px 10px 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header {
    grid-template-rows: 8vh;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0;
  }
  .nav_left {
    justify-content: center;
    align-items: center;
  }
  .logo {
    display: none;
  }
  .hamburger_icon {
    display: flex;
  }
  .nav_right,
  .nav_left select {
    display: none;
  }
  .input {
    @include input(1rem);
  }
}

.hamburger_list {
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  text-align: center;
   a{
    padding: 7px 0 ;
    font-weight: 700;
    font-size: 1.2rem;
    &:hover {
      color:black;
    }
  }
  
}
.close_container {
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 6vw;
}
