@import 'variables';

.container {
 display: block;
 height: 10vh;
 div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
 }
}

.nav_right a{
    padding: 0 10px;
}